/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.block.ui-draggable-dragging { background: #008055  ; box-shadow:  0px 7px 10px 2px black;}

body {
    padding-top: 80px;
    background-color: teal;
    /*background-image: url("..//img/time-machine.jpg");
    background-size: 100%;
    background-repeat: no-repeat;*/
    font-size:1.0em;
    overflow:hidden;
}

.section {
    width: 800px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 700px;
    margin-right: auto;
    margin-right: auto;
}

.block {
    margin-left: 4px;
    border: #330000 solid 2px;
    margin-top: 50px;
    background-color: #cc0000;
    width: 100px;
    height: 100px;
    cursor: move;
    display: inline-block;
    text-align: center;
    font-size: 70px;
    color: white;
    padding-top: auto;
    padding-bottom: auto;
    border-radius: 50px;
    z-index: 1 !important;

}

.box > .block {
    background-color: #008055;
    top: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    position: absolute;
    z-index: 1;
}

h1 {
    width: 500px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.box {
    margin-left: 4px;
    border: #663300 solid 2px;
    margin-top: 50px;
    background-color: #ff8000;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 0 !important;
}

.counter {
    font-size: 70px;
    text-align: center;
    color: white;
    border: #663300 solid 2px;
    border-radius: 30px;
    margin-top: 50px;
    background-color: black;
    width: 100px;
    height: 100px;
    display: inline-block;
}

.skip {
    float: right;
    font-size: 70px;
    text-align: center;
    color: white;
    border: #663300 solid 2px;
    border-radius: 30px;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    display: inline-block;
}